*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body
{
    background: url("bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transform-style: preserve-3d;
}
.earth
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    background: url("earth.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    background-repeat: repeat-x;
    box-shadow: inset 0 0 20px rgba(0,0,0,1),0 0 50px #8ca8f8;
    animation: animateEarth 15s linear infinite;
}
@keyframes animateEarth
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: -750px 0;
    }
}
.circle
{
    transform-style: preserve-3d;
    animation: animateText 10s linear infinite;
}
.circle span
{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    color: #12459e;
    font-size: 3rem;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    transform: rotateY(calc(var(--i) * calc(360deg / 31))) translateZ(200px);
    border-top: 4px solid #12909e;
    border-bottom: 4px solid #12909e;
}
.circle span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e7e7e7;
    transform: translateZ(-5px);
}
@keyframes animateText {
    0%
    {
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
    }
    100%
    {
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
    }
}
