body {
  background: radial-gradient(
      circle,
      transparent 0,
      transparent 33.33%,
      black 0,
      black 100%
    ),
    linear-gradient(gold, orange, orangered, orangered);
  height: 100vh;
}

div {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(15vmin);
}